.note {
  width: 300px;
  height: 300px;

  background-color: #ccff00;
  color: #000;
  
  position: absolute;

  font-size: 1rem;
  font-weight: 400;

  user-select: text;
}

.note textarea{
  width: inherit;
  background-color: unset;
  /* resize: vertical; */
}

.note .resize_handle {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
}
